[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=will
WorkingDirectory=/home/will/sites/DOMAIN
EnvironmentFile=/home/will/sites/DOMAIN/.env

ExecStart=/home/will/sites/DOMAIN/virtualenv/bin/gunicorn \
    -- bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target 
